# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KY89_DONGLE_DONGLE
    def_bool $(shields_list_contains,ky89_dongle_dongle)

config SHIELD_KY89_DONGLE_LEFT
    def_bool $(shields_list_contains,ky89_dongle_left)

config SHIELD_KY89_DONGLE_RIGHT
    def_bool $(shields_list_contains,ky89_dongle_right)
